body {
    display: block;
    overflow-x: hidden;
    background-color: rgb(209, 209, 162);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

  nav {
    /* background-color: white; */
    
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 20px;
}

.navbar-nav {
    position: relative;
    /* margin-left: 27px;  */
}

/* nav ul li a {
    color: blanchedalmond;
    font-size:  22px;
    margin: auto 10px;
} */
 
nav ul li a:hover {
    text-decoration: underline;
    color: black;
}  

img {
    width: 300px;
} 

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

#soojin .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#soojin .img-col {
    justify-content: flex-end;
    margin-top: 20px;
}

#soojin h1{
    font-size: 80px;
}

/* #soojin img { 
    max-width:  130% !important;
    width: 130%;
} */

#projects .card {
    background-color: rgb(209, 209, 162);
    box-shadow: 11px 7px 16px rgb(154, 154, 66);
    margin-bottom: 20px;
    text-align: center;
}

#projects .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(23, 22, 22);
    font: red;
}

#contact {
    text-align: center;
    background-color: black;
    color: white;
}

#contact h1 {
    text-align: center;
    color: white;
}